.button-style{
    background: #9CFFD9;
    color: white;
    border-radius: 3px;
    padding: 15px;
    font-weight: bold;
    font-size: 19px;
}

.button-style:hover{
    background: rgba(0,0,0,0);
    color:#9CFFD9;
    box-shadow: inset 0 0 0 3px #9CFFD9;
}